@model IEnumerable<IS350_TP_Group1_SocialMedia.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<p style="text-align:center">
    <a asp-action="Create"><input type = "image" src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2F60da02b82d466ab1343bde47cbd465b0f8e03aef21f5-Eg4UFg_fw658&refer=http%3A%2F%2Fhbimg.b0.upaiyun.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1648340611&t=1667bcb764956effe8a6a1d2b05aa9fd" width="40" height="40" ></a>
</p>
<h2>Most view</h2>
<table class="table">
 @*   <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sendDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picturePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thumbUpNum)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
@foreach (var item in Model) {
    var picturePath = "~/images/" + (item.picturePath);
        @*<tr>
            <td>
                <img class="imgScale" src="@picturePath" asp-append-version="true"/>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sendDate)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.thumbUpNum)
                <a asp-action="ThumbUp" asp-route-id="@item.postID">ThumbUp</a>
            </td>
            <td>
                @{
                if(TempData.Peek("currentUserName").ToString() == item.userName)
                {
                    <a asp-action="Edit" asp-route-id="@item.postID">Edit</a> <label> | </label>
                    <a asp-action="Details" asp-route-id="@item.postID">Details</a> <label> | </label>
                    <a asp-action="Delete" asp-route-id="@item.postID">Delete</a>
                }
                }
                
            </td>
        </tr>*@



        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
        </tr>

        
        <tr>
            <td colspan="4" align = "center">
                <img width = "100%"  src="@picturePath" asp-append-version="true"/>
            </td>
        </tr>


        <tr>
            <td width = "70%">
                <div id="@("content_" + item.postID)">@Html.DisplayFor(modelItem => item.thumbUpNum)</div>
                <a asp-action="ThumbUp" asp-route-id="@item.postID" data-ajax-method="POST" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#@("content_" + item.postID)"><input type = "image" src="https://img-blog.csdnimg.cn/img_convert/022e3b83b7db208d184f44314d7a690f.png" width="20" height="20" ></a>            </td>
      
             <td>
                @{
                if(TempData.Peek("currentUserName") != null && TempData.Peek("currentUserName").ToString() == item.userName)
                {
                    <a asp-action="Edit" asp-route-id="@item.postID">Edit</a>
                }  
                }
            </td>

             <td>
                @{
                if(TempData.Peek("currentUserName") != null && TempData.Peek("currentUserName").ToString() == item.userName)
                {
                    <a asp-action="Details" asp-route-id="@item.postID">Details</a>
                }
                }
                
            </td>
             <td>
                @{
                if(TempData.Peek("currentUserName") != null && TempData.Peek("currentUserName").ToString() == item.userName)
                {
                    <a asp-action="Delete" asp-route-id="@item.postID">Delete</a>
                    
                }
                }
                
            </td>

        </tr>

        <tr>
            <td colspan="4" height = 30px>
                
            </td>
        </tr>
         
       
}
    </tbody>
</table>
