@model IEnumerable<IS350_TP_Group1_SocialMedia.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
 @*   <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sendDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.picturePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thumbUpNum)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>
@foreach (var item in Model) {
    var picturePath = "~/images/" + (item.picturePath);
        @*<tr>
            <td>
                <img class="imgScale" src="@picturePath" asp-append-version="true"/>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sendDate)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.thumbUpNum)
                <a asp-action="ThumbUp" asp-route-id="@item.postID">ThumbUp</a>
            </td>
            <td>
                @{
                if(TempData.Peek("currentUserName").ToString() == item.userName)
                {
                    <a asp-action="Edit" asp-route-id="@item.postID">Edit</a> <label> | </label>
                    <a asp-action="Details" asp-route-id="@item.postID">Details</a> <label> | </label>
                    <a asp-action="Delete" asp-route-id="@item.postID">Delete</a>
                }
                }
                
            </td>
        </tr>*@



        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
        </tr>

        
        <tr>
            <td colspan="4" align = "center">
                <img width = "100%"  src="@picturePath" asp-append-version="true"/>
            </td>
        </tr>


        <tr>
            <td width = "70%">
                @Html.DisplayFor(modelItem => item.thumbUpNum)
                <a asp-action="ThumbUp" asp-route-id="@item.postID">ThumbUp</a>
            </td>
      
             <td>
                @{
                if(TempData.Peek("currentUserName").ToString() == item.userName)
                {
                    <a asp-action="Edit" asp-route-id="@item.postID">Edit</a>
                }  
                }
            </td>

             <td>
                @{
                if(TempData.Peek("currentUserName").ToString() == item.userName)
                {
                    <a asp-action="Details" asp-route-id="@item.postID">Details</a>
                }
                }
                
            </td>
             <td>
                @{
                if(TempData.Peek("currentUserName").ToString() == item.userName)
                {
                    <a asp-action="Delete" asp-route-id="@item.postID">Delete</a>
                    
                }
                }
                
            </td>

        </tr>

        <tr>
            <td colspan="4" height = 30px>
                
            </td>
        </tr>
         
       
}
    </tbody>
</table>
